@import 'tailwindcss';

@config '../tailwind.config.js';

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-focused: var(--focused);
  --color-unfocused: var(--unfocused);
}

@media (prefers-color-scheme: light) {
  :root {
    --background: --color-gray-50;
    --focused: #000000;
    --unfocused: #303030;
    --foreground: #001d21;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #1c1c1c;
    --focused: #ffffff;
    --unfocused: #a9a9a9;
    --foreground: #292929;
  }
}

body {
  background: var(--background);
  color: var(--focused);
}

table {
  width: 100%;
}

thead {
  font-weight: 500;
}
